*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;

  }

body {
    background-image: linear-gradient(to right bottom, rgb(37, 37, 37,0.9),rgb(81, 80, 80));
    z-index:-2;
    height: 200vh;

}

a {
    text-decoration: none;
    color: aquamarine;
    transition: all 0.3s;
}

ul li {
    transition: all 0.3s;
}

ul li:hover {
    transform: scale(2, 2);
}
.wrapper {
    height: 100vh;

}

.bigger-jpg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.bigger-jpg img {
    height: 100vh;
}

.small-jpg img{
    position: absolute;
    margin-top:2vh;
    margin-left: 2vw;
    width:max(11vh, 11vw);;
    overflow: hidden;
}

ul {
    list-style: none;
    width: 2rem;
    box-shadow: 4px 4px 8px rgb(37, 37, 37,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; /* don't change place */
    bottom: 2rem;
    left: 2rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    background-color: white;
}

.buttons-horizontal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    padding: 2rem 0 ;
    border-radius: 40px;
    overflow: hidden;
    top: 95%;
}

.b {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.b div:hover {
    cursor: pointer;
    transform: scale(1.3, 1.3);
}

.b div {
    margin: 0 3rem;;
    border-radius: 50%;
    padding: 1.5rem;
    box-shadow: 4px 4px 8px rgb(37, 37, 37,0.9);
}

.red {
    background-color: red;
}

.red i {
    color: white;
    width: 1rem;
    height: 1rem;
}

.white {
    background-color: white;
}

@media screen and (max-width: 1500px) {
    .buttons-horizontal {
        width: 20rem;
        padding: 0.5rem 0 ;
    }

    .b div {
        margin: 0 1.5rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .buttons-horizontal {
        width: 15rem;
        padding: 0.3rem 0 ;
    }

    .b div {
        margin: 0 1rem;
        padding: 0.5rem;
    }
}