body {
    margin:0;
    box-sizing: border-box;
    padding: 0;
    background-color: rgb(245, 230, 232);
}

section {
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    background-color: lightpink;
    color: white;
    font-size: large;
    width: 30rem;
    height: 15rem;
    padding: 0 0 2rem 0;
    font-size: 4rem;
    box-shadow: 10px 10px 20px black;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    height: 3rem;
    gap: 2rem;
}

button {
    text-transform: uppercase;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    transition: 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}